---
layout: default
---

<div id="home">
  <div>
                <script type="text/javascript"><!--
                    google_ad_client = "ca-pub-8350353148206752";
                    /* 首页横幅 */
                    google_ad_slot = "3384611027";
                    google_ad_width = 728;
                    google_ad_height = 90;
                    //-->
                    </script>
                    <script type="text/javascript"
                    src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                    </script>
                </div>
                <hr> 
  <h1 id="intro">近期</h1>
  <div>
  </div>
  {% for post in site.posts limit:5 %}
  <div class="post">
    <h2><a href="{{ post.url }}">{{post.title}}</a></h2>
    <span class="date">{{ post.date | date:"%B %d, %Y" }}</span>
    {{ post.excerpt }}
    <div class="view_comments_link">
      <a href="{{ post.url }}#disqus_thread">View Comments</a> <br />
    </div>
  </div>
  {% endfor %}

  <div id="related">
    <div class="related_left">
      <h2>相关</h2>
      <ul class="posts small">
        {% for post in site.posts offset:5 limit:3 %}
        <li><span>{{ post.date | date_to_string }}</span> &raquo; <a href="{{ post.url }}">{{ post.title }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </div>
</div>
