---
layout: default
---
<div class="post">

  <header class="post-header">
    <h1 class="post-title">{{ page.title }}</h1>
    <p class="post-meta">{{ page.date | date: "%b %-d, %Y" }} </p>
  </header>

  <article class="post-content">
    {{ content }}
  </article>

 <hr /> 

    <div>
                <script type="text/javascript"><!--
                google_ad_client = "ca-pub-8350353148206752";
                /* 单篇文章底 */
                google_ad_slot = "4582142625";
                google_ad_width = 728;
                google_ad_height = 90;
                //-->
                </script>
                <script type="text/javascript"
                src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
                </script>
                </div>

</div>
